<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Please Register</title>
</head>
<body>
<h1>Please Register</h1>
<!--<div th:if="${param.error}">-->
<!--    Invalid username and password.</div>-->
<!--<div th:if="${param.logout}">-->
<!--    You have been logged out.</div>-->
<form th:action="@{/Register}" method="post">
    <div>
        <input type="email" name="email" placeholder="Email"/>
    </div>
    <div>
        <input type="password" name="password" placeholder="Password"/>
    </div>
    <input type="submit" value="Log in" />
</form>
<div><a href="http://localhost:8080/oauth2/authorization/github">login with Github</a></div>
<div><a href="http://localhost:8080/oauth2/authorization/google">login with Google</a></div>

</body>
</html>